<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "partials/metadata.njk" %}
    <title>{{ title }} &bull; {{ lang[locale].site_name }} </title>
    {% block styles %}
    <link rel="preload" as="style" href="{{ site.domain }}/assets/css/reset.css" onload="this.rel='stylesheet'"  />
    <link rel="preload" as="style" href="{{ site.domain }}/assets/css/global.css" onload="this.rel='stylesheet'"  />
    <base href="{{ site.domain }}/" />
    {% endblock %}
</head>
<body>

    {% block header %}
    <header>
        <nav>
            <ul class="top_menu">
                {% for link in lang[locale].top_menu %}
                    <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    {% endblock %}

    <main>
{{ content | safe }}
    </main>
    
{% include "partials/footer.njk" %}

    {% block scripts %}
    <script src="{{ site.domain }}/assets/js/global.js" defer></script>
    <script src="{{ site.domain }}/assets/js/alpine.min.js" defer></script>
    {% endblock %}

</body>
</html>