/*! Global styles */

:root {
    --text-color: #000000;
    --background-color: aliceblue;
}

[x-cloak] {
    display: none !important;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

.top_menu {
    padding-left: 0;
    display: flex;
}

.top_menu li {
    list-style-type: none;
    width: 100px;
}

/* TABLET */
@media screen and (min-width: 600px) {

}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    
}

/* ACCESIBILITY: HIGH CONTRAST */
@media screen and (prefers-contrast: more) {

}

/* MEDIA: PRINT */
@media print {
    
}
